<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AlbumDreamer</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <header>
    <div class="logo-section">
      <img src="/logo.png" alt="Logo">
      <h1>AlbumDreamer</h1>
    </div>
    <h2>Dreams up music albums for any concept its given!</h2>
    <nav>
      <a href="/about">About</a>
    </nav>
  </header>
  <body>
      {% block content %}{% endblock %}
  </div>
  </body>
</html>