---
title: About
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AlbumDreamer</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
    <header>
        <a href="/">
          <div class="logo-section">
            <img src="/logo.png" alt="Logo">
            <h1>AlbumDreamer</h1>
          </div>
        </a>
        <h2>Dreams up music albums for any concept given!</h2>
        <nav>
            <a href="/about">About</a>
        </nav>
    </header>
    <div class="about-hero">
      <h1 class="about-title">About</h1>
    </div>
    <div class="about-content">
      <p>AlbumDreamer is an AI pipeline dealing with text, image and music to generate entire musical albums from a given topic. For instance, if you input a topic like "Sherlock Holmes," AlbumDreamer would craft a one-of-a-kind album around that topic.</p>
      <p><strong>Text:</strong> The text generation process acts as a "planner" and as a "director," ensuring a cohesive narrative throughout the album. It serves as a linchpin, whether it be linking all elements across mediums, planning the soundscape of the album or inventing prompts for the image and music generations. A strong text generation AI is indispensable to this process, and we currently recommend GPT-4 to avoid any significant degradation in output quality across various mediums. It's browsing capabilities allows to circumvent the model's knowledge cutoff of 2021.</p>
      <p><strong>Music:</strong> Each album is comprised of five 30-second tracks. This duration constraint is a result of the context window within the MusicGen model. While a sliding window could potentially circumvent this limitation, it risks disrupting the musical coherence, as the model may not retain the continuity of the previously generated material.</p>
      <p><strong>Visuals:</strong> In terms of image generation, we employ fine-tuning to foster a unified aesthetic. A custom fine-tuned SD 1.5 alongside a custom Lora are used for style consistency. The prompts for image generation are derived from the text director, ensuring that each element complements the others to create a harmonious album experience.</p>

    </div>
</html>